.popup__input-error_active {
    color: #FF0000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;

    display: block;

    position: absolute;
    top: 32px;
    left: 0px;
}