.profile__edit-button {
    grid-area: edit-button;
    align-self: end;
    margin-bottom: 7px;
    max-width: 24px;
}

.profile__edit-button:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 910px) {
    .profile__edit-button {
        max-width: 18px;
        margin-left: 10px;
    }
}