.popup__button {
    background-color: black;
    border: none;
    color: white;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    padding: 12px 132px 16px;
    margin-top: 48px;

    box-sizing: border-box;
}

@media screen and (max-width: 767px) {
    .popup__button {
        padding: 14px 82px;
        margin-top: 45px;
        font-size: 14px;
        line-height: 17px;
    }
}

.popup__button:not(.popup__button_type-disabled):hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
}