.header {
    padding-bottom: 40px;
    border-bottom: solid 1px rgba(84, 84, 84, 0.7);
    margin: auto;
    font-size: 0;
}

@media screen and (max-width: 767px) {
    .header {
        padding-bottom: 31.6px;
    }
}