.profile__subtitle {
    grid-area: subtitle;
    margin: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: white;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 910px) {
    .profile__subtitle {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        padding-bottom: 36px;
    }
}