.profile__add-button {
    background-color: transparent;
    background-image: url(../../../images/add-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    
    outline: none;    
    border: solid 2px white;
    
    grid-area: add-button;
    justify-self: end;
    padding: 23px 73px;

}

.profile__add-button:hover {
    cursor: pointer;
    opacity: 0.6;    
    transition: 0.3s;
}

@media screen and (max-width: 1023px) {
    .profile__add-button {
        justify-self: center;
        padding: 23px 138px;
    }
}