.profile__info {
    grid-area: info;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr min-content;
    grid-template-areas:
        "title edit-button"
        "subtitle .";
    column-gap: 22px;
    row-gap: 16px;
}

@media screen and (max-width: 1023px) {
    .profile__info {
        text-align: center;
        row-gap: 14px;
        column-gap: 10px;
    }
}