.element {
    background-color: white;
    list-style: none;
    border-radius: 10px;
    font-size: 0;

    width: 100%;
    max-width: 282px;
    height: 100%;

    overflow: hidden;

    position: relative;
    display: flex;
    flex-direction: column;
}